# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
#*.c text
#*.h text

# everything to be LF, except for Windows batch files that require CRLF:
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
# Declare files that will always have CRLF line endings on checkout.
#*.sh text 
#*.sql text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
