{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">👨‍⚕️ Available Professionals</h1>

    {% if professionals %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for prof in professionals %}
        <div class="col">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ prof.firstname}}</h5>
                    <p class="card-text"><strong>Specialty:</strong> {{ prof.specialty }}</p>
                    <p class="card-text"><strong>Email:</strong> <a href="mailto:{{ prof.email }}">{{ prof.email }}</a></p>
                    <!-- <span class="badge bg-success">
                         "Available" 
                    </span> -->
                    <form action="{{ url_for('match_bp.matchProf') }}" method="post">
                        {{ chooseForm.csrf_token() }}
                        {{ chooseForm.choice(value=prof.id) }}
                        <button class="btn btn-sm btn-success">choose</button>
                        <!-- <button class="btn btn-sm">choose</button> -->
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-info mt-3">No professionals found in the system.</div>
    {% endif %}
</div>
{% endblock %}
