{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4">🔍 Matched Professionals</h1>
    {% for prof, score in scored_profs %}
    <div class="card shadow-sm mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ prof.firstname}}</h5>
            <p class="card-text"><strong>Specialty:</strong> {{ prof.specialty }}</p>
            <p class="card-text"><strong>Email:</strong> <a href="mailto:{{ prof.email }}">{{ prof.email }}</a></p>
            <p class="text-muted">Match Score: {{ '%.2f'|format(score * 100) }}%</p>
            <p>
                    <form action="{{ url_for('match.matchProf') }}" method="post">
                        {{ chooseForm.csrf_token() }}
                        {{ chooseForm.choice(value=prof.id) }}
                        <button class="btn btn-sm btn-success">choose</button>
                    </form>
                    </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
